<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'test_site/css/style.css' %}" rel="stylesheet" type="text/css">
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <p>{{ msg }}</p>
    <p>Hello {{ name }}</p>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
        {% for k, v in env.items %}
            <tr>
                <td>{{ k }}</td>
                <td>{{ v }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <img src="{% static 'test_site/img/django_unchained_2.jpg' %}" alt="Django Image" width="20%" height="20%">
    </p>
</body>
</html>